
/*
########## Одностраничные блоки #########
*/
.first {
	display: flex;
	position: relative;
	&__container {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		
//		overflow: hidden;
//		height: 884.979px;
		
		.owl-nav.disabled + .owl-dots {
			margin-top: -50px; 
		}
	}
	&__item {
//		position: absolute;
//		top: 0;
//		left: 0;
//		width: 100%;
//		height: 100%;
//		height: 884.979px;
		background-size: cover;
		background-repeat: no-repeat;
	}
	&__grid {
		&-left {
			width: 50%;
			height: 100%;
			flex-shrink: 0;
			
			
			position: relative;
		}
		&-right {
			width: 50%;
			height: auto;
			
			display: flex;
			flex-direction: column;
			flex-shrink: 0;
		}
		&-top, &-bottom  {
			height: 50%;
			width: 100%;
			flex-grow: 1;
			background-size: cover;
			background-repeat: no-repeat;
			position: relative;
			overflow: hidden;
		}
	}
	&__annotation {
		position: absolute;
		bottom: 78px;
		&_com {
			bottom: 50px;
		}
	}
	.btn__arrow-down {
		position: absolute;
		bottom: 50px;
		left: 0;
		right: 0;
		margin: auto;
	}
}
.reviews {
	background: #fafafa;
	&__item {
		text-align: left;
		max-width: 1180px;
//		max-width: 900px;
		margin: auto;
		left: 0;
		right: 0;
		display: flex; 
		flex-direction: column;
//		align-items: center;
	}
	&__top {
		display: flex;
//		flex-direction: column;
		align-items: center;
	}
	&__text {
		border-left: 2px solid black;
		padding: 0 25px;
		
//		font-size: 10px;
		font-size: 14px;
		letter-spacing: 1.1px;
//		line-height: 18px;
		line-height: 26px;
	}
	&__icon {
		width: 115px;
		text-align: center;
		flex-shrink: 0;
		> img {
			width: auto;
			max-width: 60%;
		}
	}
	&__container {
		padding: 30px 0;
	}
	&__annotation {
		padding: 25px 0 10px;
	}
}
.clients {
	border-top: 2px solid #e8e8e8;
	border-bottom: 2px solid #e8e8e8;
	&__container {
		img {
			max-width: 200px;
			max-height: 100px;
		}
		padding: 30px 0;
	}
}

.pr-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 20px;
	&__title {
		text-transform: uppercase;
		font-size: 16px;
		font-weight: 500;
		letter-spacing: 4.6px;
	}
}
.pr-section {
	display: flex;
	align-items: stretch;
//	margin-left: -20px;
//	margin-right: -20px;
	&__indent {
		padding-top: 40px;
		padding-bottom: 40px;
	}
	&_first {
		
	}
}
.pr-col {
//	padding: 20px;
	&__left {
		padding-right: 20px
	}
	&__right {
		padding-left: 20px
	}
	&__img {
		width: 100%;
	}
	&__text {
		padding-left: 20px;
		padding-right: 20px;
		
		font-weight: 300;
		line-height: 30px;
		&-title {
			font-weight: 500;
			margin-top: 20px;
		}
		&_small {
			font-weight: 300;
			line-height: 32px;
			font-size: 18px;
			padding-left: 20px;
			padding-right: 20px;
			letter-spacing: 2px;
			
		}
	}
	&-title {
		&__left {
			width: calc(~"100% - 450px");
		}
		&__right {
			width: 450px;
			font-size: 20px;
		}
	}
}
.pr-slider {
	height: 100%;
	&__item {
		height: 100%;
		padding: 40px;
		display: flex;
//		justify-content: center;
		align-items: center;
		
	}
	iframe {
		height: 100%;
		width: 100%;
		min-height: 450px;
	}
	
	.owl-nav.disabled + .owl-dots {
		margin-top: -31px; 
	}
	.owl-stage {
		align-items: stretch;
	}
}
.col {
	&-lg, &-sm {
		&-8 {
			width: 200/3%;
		}
		&-4 {
			width: 100/3%;
		}
		&-6 {
			width: 50%;
		}
	}
}

.services {
	display: flex;
	align-items: stretch;
	margin: 20px 0;
	flex-wrap: wrap;
//	height: 500px;
	&__title {
		font-size: 24px;
		&-block {
			min-height: 85px;
			
			color: white;
			background: black;
			padding: 5px;
			border-radius: 100px;
			text-transform: uppercase;
			letter-spacing: 4px;
			
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}
	}
	&__subtitle {
		font-size: 16px;
		font-weight: 300;
	}
	&__col {
		padding: 5px;
		width: 25%;
		perspective: 500px;
//		&:last-child {
//			padding-right: 0;
//			margin-right: 0; 
//		}
//		&:first-child {
//			padding-left: 0;
//			margin-left: 0;
//		}
	} 
	&__item {
		display: block;
		text-decoration: none;
		width: 100%;
		padding: 10px;
//		height: 560px;
		height: 30vw;
//		height: 100%;
//		background: #642d7c;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		transform-style: preserve-3d;
//		background-color: black;
//		transition: transform .3s ease;
//		&:hover {
//			transform: scale(1.02);
//		}
	}
}
.command {
	display: flex;
	flex-wrap: wrap;
	padding-top: 28px;
	&__item {
		height: 100*58/192vw;
		width: 25%;

		display: flex;
		flex-direction: column;
		&-name {
			height: 100*90/580%;
			background: white;
			
			text-transform: uppercase;
			font-weight: 100;
//			font-size: 16px;
			font-size: 100*16/1920vw;
			letter-spacing: 5px;
			padding: 15px;
//			line-height: 28px;
			
			display: flex;
			align-items: center;
			flex-direction: column;
			justify-content: space-around;
		}
		&-photo {
			height: 100-100*90/580%;
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
		}
	}
	&-back {
		display: flex;
		flex-wrap: wrap;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		&__item {
			width: 100/5%;
			height: 100/3%;
			flex-shrink: 0;
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
			transition: transform .3s ease;
			&:hover {
				transform: scale(1.03);
			}
		}
	}
}
.portfolio {
	margin-left: 80px;
//	width: 100%;
//	&__container {
//		display: flex;
//		
//	}
	user-select: none;
	&__item {
		width: 100%;
		height: 100%;
		border-style: solid;
		border-width: 10px;
		position: relative;
		
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		display: block;
		.first__annotation {
			bottom: 9%;
		}
	}
	&-tab {
		padding: 20px 20px 10px;
		display: flex;
		flex-wrap: wrap;
		&__item {
			display: block;
//			margin-right: 30px;
			margin: 5px 30px 5px 0;
			text-decoration: none;
			line-height: 20px;
			font-size: 12px;
			text-transform: uppercase;
			letter-spacing: 3px;
			color: #5e5d5d;
			border-bottom: 1px solid #5e5d5d;
//			padding: 2px 0;
			&:hover, &.active {
				color: #ed0677;
				border-bottom: 1px solid #ed0677;
			}
		}
	}
}
.portfolio-grid {
//	display: flex;
//	flex-wrap: wrap;
	&__item {
//		border: 1px solid green;
//		margin: 10px;
		padding: 10px;
		float: left;
	}
	&__sizer {
		width: 25%;
	}
}
.grid {
	&-w {
		&-2 {
			width: 50%;
		}
		&-1 {
			width: 25%;
			
		}
	}
	&-h {
		&-2 {
			height: 623/1980 * 100vw;
//			height: 30.36458333vw;
		}
		&-1 {
			height: 623/1980 * 50vw;
//			height: 30.36458333vw/2;
			
		}
	}
}
.scale {
	position: fixed;
	z-index: 10;
//	padding-top: 80px;
	left: 0;
	top: 80px;
	bottom: 0;
//	height: 100%;
	width: 70px;
	
	cursor: row-resize;
	&:hover {
		.scale__mouse {
			opacity: 1;
		}
	}
	&__item {
		background: data-uri('image/svg+xml;base64', '../img/data-back.svg') no-repeat;
		width: 70px;
		height: 20px;
		color: white;
		padding: 4px 20px;
//		display: flex;
//		align-items: center;
//		justify-content: center;
		font-size: 12px;
//		margin-bottom: 300px;
		position: absolute;
		user-select: none;
		&.active {
			background: data-uri('image/svg+xml;base64', '../img/data-back-active.svg') no-repeat;
			&:before {
				content: '';
				display: block;
				width: 11px;
				height: 11px;
				background: #ed0677;
				position: absolute;
				right: -15px;
				top: -4px;
				border-radius: 50%;
			}
		}
		&_m {
			width: 10px;
			height: 1px;
			background: black;
			position: absolute;
			left: 50px;
		}
	}
	&__mouse {
		width: 100%;
		height: 2px;
		background: #ed0677;
		position: absolute;
		opacity: 0;
		transition: opacity .3s ease;
	}
}